.banner {
    position: relative;
    width: 100%;
    height: 80vh;
    overflow: hidden;
}

#video-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    height: 250px;
}

.banner-text h1 {
    color: rgb(255, 255, 255);
    font-size: 80px;
    font-weight: bolder;
    text-shadow: 8px 8px 8px rgb(0, 0, 0);
    position: relative;
    text-align: center;
    border-color: black;

}

.banner-text p {
    color: rgb(202, 202, 202);
    font-size: 20px;
    font-weight: bolder;
    text-shadow: 8px 8px 8px rgb(0, 0, 0);
    position: relative;
    text-align: center;
    border-color: black;

}

.navbar {
    display: flex;
    justify-content: center;

}

.navbar-items {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 28px;
    background-color: black;
    padding: 5px 10px;

}

.navbar-items li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-items li a {
    color: darkgray;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    text-align: center;
    height: 100%;
    width: 100%;

}

/* SOBRE O EVENTO */
.about-us-title h1 {
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.164);
    text-align: center;
    text-shadow: #000000;
    background-color: beige;
    padding: 20px 0px;
    font-size: 40px;
}

.about-us-title p {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 50px;
    color: #dad6d6;
}

.content-wrapper {
    display: flex;
    /* justify-content: space-between; */
    align-items: flex-start;
    gap: 20px;
}

.about-banner {
    background-image: url("../img/sobre-o-evento.png");
    height: 200px;
    width: 60%;
    background-position: left;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: left center;
    background-repeat: no-repeat;
    background-color: #000;
}

.schedule {
    width: 35%;
}

.workshop-schedules {
    background-color: #ffffff9d;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 6px 20px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

/* AQUI COMEÇA SOBRE O CADASTRO */
.register-title h1 {
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.164);
    text-align: center;
    text-shadow: #000000;
    background-color: beige;
    padding: 20px 0px;
    font-size: 40px;
}

.register-title p {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 50px;
    color: #dad6d6;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-items: center;
}

.event-form {
    background-color: #999999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 50px 50px;
    margin-top: 50px;
    width: 100%;
    max-width: 780px;
    height: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.425);
    border-bottom: #807f7f;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.form {
    padding: 10px;
    font-size: 25px;
    width: 100%;
}

input:not([type=checkbox]) {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #00000021;
    display: flex;
    width: 100%;
    background-color: #c0c0c0;
}

#event-workshop {

    font-size: 20px;
}


.checkbox-wrapper {
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 6px 0px;
}


span {
    font-size: 16px;
}

.newsletter-checkbox {
    border-radius: 50%;
    height: 20px;
}

#newsletter-checkbox input[type="checkbox"] {
    border-radius: 50%;
    height: 13px;
    width: 13px;
    appearance: none;
    -webkit-appearance: none;
    background-color: #f1efef;
    border: 0.1px solid #000;
    cursor: pointer;
    position: relative;
}

#newsletter-checkbox {
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

#newsletter-checkbox input[type="checkbox"]:checked {
    background-color: #000000;
    border-color: #000;
    animation: blink 0.3s ease;

}

@keyframes blink {

    0%,
    100% {
        background-color: rgba(0, 0, 0, 0.699);
        /* Cor final após a animação */
    }

    50% {
        background-color: rgba(238, 90, 5, 0.699);
        /* Cor intermediária durante a piscada */
    }
}

.button {
    color: #e7e3e3;
    background-color: #000;
    width: 100%;
    border-radius: 10px;
    gap: 50px;
    margin-top: 30px;
    font-size: 20px;
    font-weight: lighter;
}

/* CONTATO */

#contact{
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px 0px;
}

#contact h1{
    color: rgb(0, 0, 0);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.164);
        padding: 10px;
        font-size: 40px;
}

#contact p{
    font-size: 25px;
}